body{
    background-color: rgb(250, 238, 183);
} 
span{
    color: rgb(252, 156, 92);
}
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5% 5px;
    padding:30px 5px 0;
    img{
        border-radius:5px;
        border: 2px solid white;
    }
}
.hero-content{
    width: 550px;
    margin: 5px;
    padding: 5px;
    h1{
        margin-bottom: 10px;
    }
    p{
        line-height: 25px;
    }
    button{
        border: none;
        text-decoration: none;
        height: 35px;
        width: 120px;
        background-color: black;
        color: white;
        margin-top: 20px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(252, 156, 92);
            color: black;
        }
    }
}